@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.forText{
    padding-bottom: 5%;
}

.center h2{
    text-align: center;
}

.button-24 {
    background: #3EC70B;
    border: 1px solid #3EC70B;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: #2ea207;
    border: 1px solid #2ea207;
    background-position: 0 0;
    color: white;
}

.button-24:active {
    opacity: .5;
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    height: 400px;
}

.cent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rigth{
    float: right;
    font-size: 16px !important;
}
.cont{
    display: flex;
    justify-content: flex-end;
}
.red{
    background: #fc2828 !important;
    border: 1px solid #fc2828 !important;
}

.red:hover,
.red:active {
    border: 1px solid #c20e0e !important;
    background-color: #c20e0e !important;
    background-position: 0 0 !important;
    color: white !important;
}
.red:active {
    opacity: .5;
}
